body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}

h1 {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
    font-size: 24px;
}